@page
@model IndexModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <a asp-page="/Form/Create">@Localizer["FillInForm"]</a>
</div>